{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <h2>Création de film :</h2>
    {{ form_start(movie_form) }}
        {{ form_rest(movie_form) }}
        <input type="submit" />
    {{ form_end(movie_form) }}
{% endblock %}


{#<script>#}
{#    fetch('http://127.0.0.1:8000/movie', {#}
{#        method: "POST",#}
{#        headers: {"Content-Type": "application/x-www-form-urlencoded"}#}
{#        body: { 'movie[title]': 'hacked', 'movie[releaseDate]': '2020-3-23' }#}
{#    })#}
{#</script>#}
