{% extends 'base.html.twig' %}

{% block title %}Hello ShowMovieController!{% endblock %}

{% block body %}
    Titre : {{ movie.title }} <br />
    Année de sortie : {{ movie.releaseDate|date('d/m/Y') }} <br />
    Réalisateur : {{ movie_director }}
{% endblock %}
