{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if last_auth_error is not empty %}
        <div class="alert alert-danger">{{ last_auth_error.message }}</div>
    {% endif %}
    <form method="post" action="{{ path('login') }}">
        Username : <input type="text" name="_username" value="{{ last_username }}"/>
        Password : <input type="password" name="_password" />
        <input type="submit" value="Login">
    </form>
{% endblock %}
